
/*
* Default tags
*/
img {
  max-width: 500px;
}

p {
  color: rgb(255, 192, 203);
}

body {
  background-color: #f6d6a8;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #00f;
  text-decoration: underline;
}

/*
Flex items
*/
.videos {
  align-items: center;
  border-bottom: 5px;
  border-bottom-style: solid;
  border-color: #808080;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.thumbnail {
  margin: 6px;
  position: relative;
}

.time-stamp {
  background-color: #000;
  bottom: 20px;
  color: #fff;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  right: 20px;
}

.video-catagories {
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 90%;
}

/*
Video site
*/
.video-display {
  display: block;
  height: 45vw;
  margin: 0 auto;
  width: 80vw;
}

.til-baka-link {
  font-size: 2rem;
}
