
/*
* Default tags
*/
img {
  max-width: 500px;
}

p {
  color: rgb(255, 192, 203);
}

/*
Grid controls
*/
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 90vw;
}

.grid-container > div {
  padding: 30px 20px 20px;
  text-align: center;
}

/*
Items within grid
*/

.videos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.thumbnail{
  position: relative;
}

.timeStamp{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.videoCatagories{
  margin: auto;
  align-items: center;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
}


/*
Window-width configurations
*/
@media screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1600px) and (min-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
